* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.1px;
  // background-color: rgba(25, 25, 25, 0.2);
  background-color: $primary-pink;
}

$color: white;

/* total width */
body::-webkit-scrollbar {
  background-color: $color;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: $color;
}
body::-webkit-scrollbar-track:hover {
  background-color: $color;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 1px solid #fff;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-track-piece {
  background-color: $color;
}
