$navbar-height: 8vh;
$featuredProjectsBackground: whitesmoke;
$projectItemColor: slateblue;

$primary-purple: #44157b;
$primary-pink: #fde8e8;
$dark-blue: #16213e;

// breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 992px;
