$navbar-height: 8vh;
$featuredProjectsBackground: whitesmoke;
$projectItemColor: slateblue;

$primary-purple: #44157b;
$primary-pink: #fde8e8;
$dark-blue: #16213e;
$dark-purple: rgb(45, 45, 63);
$light-purple: rgba(158, 158, 226, 1);
$grey: rgb(201, 197, 197);
$dark-grey: rgb(61, 61, 61);
$light-purple-shadow: rgba(158, 158, 226, 0.07);

// breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 992px;
