.projects--all-projects {
  min-height: 60vh;
}

.projects--main {
  // background: $light-purple;
  position: relative;
  overflow: hidden;

  // $offset: 50px;
  // $primary: $light-purple;

  // .bumps {
  //   div {
  //     width: 150px;
  //     height: $offset;
  //     position: absolute;
  //     background: $primary;
  //     top: -$offset;
  //   }

  //   div:before {
  //     content: "";
  //     width: $offset;
  //     height: $offset;
  //     position: absolute;
  //   }

  //   .left-bump {
  //     left: 0;
  //   }

  //   .left-bump:before {
  //     right: -$offset;
  //     border-top: calc(#{$offset/2}) solid transparent;
  //     border-left: calc(#{$offset/2}) solid $primary;
  //     border-right: calc(#{$offset/2}) solid transparent;
  //     border-bottom: calc(#{$offset/2}) solid $primary;
  //   }

  //   .right-bump {
  //     right: 0;
  //   }

  //   .right-bump:before {
  //     left: -$offset;
  //     border-top: calc(#{$offset/2}) solid transparent;
  //     border-left: calc(#{$offset/2}) solid transparent;
  //     border-right: calc(#{$offset/2}) solid $primary;
  //     border-bottom: calc(#{$offset/2}) solid $primary;
  //   }
  // }
}

.projects--background-image {
  display: block;
  position: absolute;
  top: -80%;
  left: 0;
  width: 100%;
  height: 2960px;
  z-index: -1;
  background-image: url("../../images/projects-2.png");
  opacity: 0.5;
}

.background-color::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $light-purple;
  z-index: -2;
}
