/* ./src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.opening-screen {
}

.opening-screen::before {
  content: '';
  background-color: red;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  transform: translateX(300px);
  animation: open-screen 3s;
}

@keyframes open-screen {
  100% {
    translatex: 100px;
  }
}
