header {
  //   background-color: rgb(70, 28, 124);
  // background-color: $projectItemColor;
  position: relative;
  .nav-link {
    color: $primary-purple !important;
    font-weight: bold;
  }
}

.header--home {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  // height: 90vh;
  color: $primary-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    text-align: center;

    h1 {
      font-size: 4rem;
    }
  }
}

// .header--home::before {
//   background: red;
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

.header--home-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // bottom: 0;
  z-index: -1;
  // background: red !important;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.header--home-overlay:nth-child(1) {
  background-image: url("../../images/base1.svg");
}

.header--home-overlay:nth-child(2) {
  background-color: $primary-pink;
  background-image: url("../../images/base2.svg");
  z-index: -3;
}

.header--home-overlay:nth-child(3) {
  background-image: url("../../images/base3.svg");
  z-index: -2;
}

.header--home-overlay:nth-child(4) {
  background-image: url("../../images/base4.svg");
  z-index: -1;
}
